<!--Definindo uma divisão geral-->
<div class="admin">
    <!--Definindo o titulo para a sessão de edição dos Itens do restaurante-->
    <h2>Items</h2>
    <!--Definindo uma divisão para inserir os links de adição e alteração de sessão-->
    <div class="add">
        <!--Link para a página de incersão de item-->
        <a href="/admin/adicionar-item">Adicionar Item</a>
        <!--link para a sessão de cronograma-->
        <a href="#cronograma">Alterar cronograma</a>
    </div>
    <!--Divisão para inserir os itens já cadastrados no banco de dados-->
    <div class="mostrar_item">
        <!--A primeira linha será um guia para os demais-->
        <div>
            <p>ID</p>
        </div>
        <div>
            <p>nome</p>
        </div>
        <div>
            <p>Descrição</p>
        </div>
        <div>
            <p>imagem</p>
        </div>
        <div>
            <p>Tipo</p>
        </div>
        <div>
            <p>Tamanho</p>
        </div>
        <div>
            <p>Valor</p>
        </div>
        <!--Divisão para colocar os botões para editar o iten-->
        <div class="editar">
            <!--os botões serão para apagar ou editar o item-->
            <p>Editar</p>
        </div>
    </div>
    <!--Aqui será inserido uma linha para cada iten do banco, contendo id, nome, descrição, imagem, tipo, tamanho e valor-->
    {{#each produtos}}
    <div class="mostrar_item">
        <div>
            <p>{{id}}</p>
        </div>
        <div>
            <p>{{titulo}}</p>
        </div>
        <div>
            <p>{{descricao}}</p>
        </div>
        <div>
            <img width="200px" src={{imagem_do_item}} alt="imagem_do_{{titulo}}">
        </div>
        <div>
            <p>{{tipo_id}}</p>
        </div>
        <div>
            <p>{{tamanho.tamanho}}</p>
        </div>
        <div>
            <p>{{valor}}</p>
        </div>
        <div class="editar">
            <form method="get" action="/admin/apagar-item/{{id}}">
                <button type="submit">Apagar</button>
            </form>
            <form method="get" action="/admin/editar-item/{{id}}">
                <button type="submit">Editar</button>
            </form>
        </div>
    </div>
    {{/each}}
    <!--Divisão para sessão de cronograma-->
    <div id="cronograma">
        <!--Definindo o titulo para a sessão de edição do cronograma-->
        <h2>Cronograma</h2>
        <!--link para a voltar ao incio da página-->
        <a href="#">Voltar ao inicio</a>
        <!--Sequencia de divs para o bootstrap-->
        <div class="container text-start">
            <!--Titulo do card-->
            <h1 class="display-1 text-center mb-5">Alterar cronograma</h1>
            <div class="row justify-content-md-center">
                <div class="card text-bg-dark" style="width: 50%; padding: 1.5rem; border: 0.2rem solid white; border-radius: 2rem; ">
                    <form action="/admin/alterar-cronograma" method="post">
                        <!--Formulário para alterar o cronograma do restaurante-->
                        <div class="formCronograma">
                            {{#each cronograma}}
                            <div class="input-group flex-nowrap">
                                <span style="font-size: 2rem; margin-bottom: 0;" class="input-group-text" id="addon-wrapping">Segunda-feira</span>
                                <input style="font-size: 2rem; font-family: Arial, Helvetica, sans-serif;" type="text" class="form-control" value="{{segunda}}" name="segunda" aria-label="Username" aria-describedby="addon-wrapping">
                            </div>
                            <div class="input-group flex-nowrap">
                                <span style="font-size: 2rem; margin-bottom: 0;" class="input-group-text" id="addon-wrapping">Terça-feira</span>
                                <input style="font-size: 2rem; font-family: Arial, Helvetica, sans-serif;" type="text" class="form-control" value="{{terca}}" name="terca" aria-label="Username" aria-describedby="addon-wrapping">
                            </div>
                            <div class="input-group flex-nowrap">
                                <span style="font-size: 2rem; margin-bottom: 0;" class="input-group-text" id="addon-wrapping">Quarta-feira</span>
                                <input style="font-size: 2rem; font-family: Arial, Helvetica, sans-serif;" type="text" class="form-control" value="{{quarta}}" name="quarta" aria-label="Username" aria-describedby="addon-wrapping">
                            </div>
                            <div class="input-group flex-nowrap">
                                <span style="font-size: 2rem; margin-bottom: 0;" class="input-group-text" id="addon-wrapping">Quinta-feira</span>
                                <input style="font-size: 2rem; font-family: Arial, Helvetica, sans-serif;" type="text" class="form-control" value="{{quinta}}" name="quinta" aria-label="Username" aria-describedby="addon-wrapping">
                            </div>
                            <div class="input-group flex-nowrap">
                                <span style="font-size: 2rem; margin-bottom: 0;" class="input-group-text" id="addon-wrapping">Sexta-feira</span>
                                <input style="font-size: 2rem; font-family: Arial, Helvetica, sans-serif;" type="text" class="form-control" value="{{sexta}}" name="sexta" aria-label="Username" aria-describedby="addon-wrapping">
                            </div>
                            <div class="input-group flex-nowrap">
                                <span style="font-size: 2rem; margin-bottom: 0;" class="input-group-text" id="addon-wrapping">Sábado-feira</span>
                                <input style="font-size: 2rem; font-family: Arial, Helvetica, sans-serif;" type="text" class="form-control" value="{{sabado}}" name="sabado" aria-label="Username" aria-describedby="addon-wrapping">
                            </div>
                            <div style="width: 100%; height: 5rem; " class="btn-group" role="group" aria-label="Basic outlined example">
                                <button type="submit" class="btn btn-outline-light" style="font-size: 2rem;">Alterar</button>
                                <button type="reset" class="btn btn-outline-light" style="font-size: 2rem;">Limpar</button>
                            </div>
                            {{/each}}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>