<!--Definindo uma coluna geral para divir em duas partes a tela-->
<div class="row">
    <!--a primeira coluna ocupará 12/8 da tela-->
    <div class="col-8">
        <!--Dentro dessa primeira coluna teremos os item para pedir-->
        <!--colocando um titulo central dos primeiros item, sendo eles o almoço-->
        <div class="titulo_prato" >
            <h1>Pratos de hoje</h1>
        </div>
        <!--Definindo uma coluna para os itens-->
        <div class="row" id="almoco">
            <!--Organizando em uma divisão o grupo de itens-->
            <div class="pratos">
                <!--um each que traz as variaveis do back-end em loop-->
                {{#each almoco as | almoco |}}
                <!--Uma formatação geral de como ficará os itens trazidos do banco de dados-->
                <div class="item">
                    <!--Entrando dentro do objeto infos do almoco e nomeando de inf-->
                    {{#with almoco.infosTamanhos.[0] as | infos |}}
                    <!--Uma imagem do item-->
                    <div class="imagem">
                        <img src={{infos.imagem_do_item}} alt="logomarca">
                    </div>
                    <!--Um titulo para o item-->
                    <div class="titulo">
                        <p>{{infos.titulo}}</p>
                    </div>
                    <!--Fechando o infos-->
                    {{/with}}
                    <!--Entrnado dentro do objeto infosTamanhos do almoco e nomeando de tamanhos, que trará as informações dos 3 tamanhos-->
                    {{#each almoco.infosTamanhos as | infos |}}
                    {{#each almoco.infos as | titulo |}}
                    <!--Criando uma classe para que eu consiga no javascript esconder e mostrar somente as classes com input selecionado-->
                    <div class="desc  classe_infos_{{titulo.titulo}} tamanho{{infos.tamanho.tamanho}} infos{{titulo.titulo}}_{{infos.tamanho.tamanho}}">
                    {{/each}}
                        <!--Em breve-->
                        <form action="/addbag/{{infos.id}}" method="get">
                        <!--A descrição do item-->
                        <div class="descricao">
                            <p>{{infos.descricao}}</p>
                        </div>
                        <!--O valor do item-->
                        <div class="valor">
                            <p>R$ {{infos.valor}}</p>
                        </div>
                        <!--Em breve-->
                        <div class="adicionar">
                            <button onclick="travarTela()" type="submit">Adicionar na sacola</button>
                        </div>
                        </form>
                    </div>
                    <!--Fechando o InfosTamanho-->
                    {{/each}}
                    <!--Entrando dentro do objeto infos do almoco e nomeando de inf-->
                    {{#each almoco.infos as | inf |}}
                    <!--Criando inputs com o bootstrap para aparecer as classes de acordo com o tamanho selecionado-->
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <!--Input que recebe o name com o titulo do Item e com a função Onclick onde puxa uma função no javascript-->
                        <input type="radio" class="btn-check" name="btnradio{{inf.titulo}}" id="btnradio1{{inf.titulo}}" value="infos{{titulo}}_1" onclick="mostrarClasse('infos{{inf.titulo}}_P', 'classe_infos_{{inf.titulo}}')" autocomplete="off" checked>
                        <label class="btn btn-outline-light mt-3 alterar" for="btnradio1{{inf.titulo}}">P</label>

                        <input type="radio" class="btn-check" name="btnradio{{inf.titulo}}" id="btnradio2{{inf.titulo}}" value="infos{{titulo}}_2" onclick="mostrarClasse('infos{{inf.titulo}}_M', 'classe_infos_{{inf.titulo}}')" autocomplete="off">
                        <label class="btn btn-outline-light mt-3 alterar" for="btnradio2{{inf.titulo}}">M</label>

                        <input type="radio" class="btn-check" name="btnradio{{inf.titulo}}" id="btnradio3{{inf.titulo}}" value="infos{{titulo}}_3" onclick="mostrarClasse('infos{{inf.titulo}}_G', 'classe_infos_{{inf.titulo}}')" autocomplete="off">
                        <label class="btn btn-outline-light mt-3 alterar" for="btnradio3{{inf.titulo}}">G</label>
                    </div>
                    <!--Fechando o infos-->
                    {{/each}}
                </div>
                <!--Fechando o almoco-->
                {{/each}}
            </div>
            <!--Separando os demais items do almoço pois teão uma formatação diferente de duas colunas-->
            <div class="items">
                <!--Definindo uma coluna para separar dois tipos de itens-->
                <div class="row" id="doces">
                    <!--Colocando um titulo geral para esse grupo de itens-->
                    <div class="title_item" >
                        <h1>Doces</h1>
                    </div>
                    <!--Divindo metade da coluna para colocar os itens do tipo doce-->
                    <div class="col-6" >
                        <!--Organizando uma divisão para esse tipo de iten-->
                        <div class="doces">
                            <!--Definindo o titulo do tipo desses itens-->
                            <div class="titulo_prato" >
                                <h1>Doces<h1></h1>
                            </div>
                            <!--Usando novamente a formatação para apresentar o item do banco de dados-->
                            {{#each doces}}
                            <form action="/addbag/{{id}}" method="get">
                            <div class="item">
                                <div class="imagem">
                                    <img src={{imagem_do_item}} alt="logomarca">
                                </div>
                                <div class="titulo">
                                    <p>{{titulo}}</p>
                                </div>
                                <div class="descricao">
                                    <p>{{descricao}}</p>
                                </div>
                                <div class="valor">
                                    <p>R$ {{valor}}</p>
                                </div>
                                <div class="adicionar">
                                    <button onclick="travarTela()" type="submit">Adicionar na sacola</button>
                                </div>
                            </div>
                            </form>
                            {{/each}}
                        </div>
                    </div>
                    <!--Utilizando a outra metade da coluna para colocar outro tipo de itens-->
                    <div class="col-6">
                        <!--Organizando uma divisão para esse tipo de iten-->
                        <div class="salgados">
                            <!--Definindo o titulo do tipo desses itens-->
                            <div class="titulo_prato" >
                                <h1>Salgados</h1>
                            </div>
                            <!--Usando novamente a formatação para apresentar o item do banco de dados-->
                            {{#each salgados}}
                            <form action="/addbag/{{id}}" method="get">
                            <div class="item">
                                <div class="imagem">
                                    <img src={{imagem_do_item}} alt="logomarca">
                                </div>
                                <div class="titulo">
                                    <p>{{titulo}}</p>
                                </div>
                                <div class="descricao">
                                    <p>{{descricao}}</p>
                                </div>
                                <div class="valor">
                                    <p>R$ {{valor}}</p>
                                </div>
                                <div class="adicionar" >
                                    <button onclick="travarTela()" type="submit">Adicionar na sacola</button>
                                </div>
                            </div>
                            </form>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <!--Repetindo os mesmos códigos para colocar mais dois grupos e 4 tipos de iten
                sendo eles (lanches e bebidas), lanches, porcões, refrigerantes/suco, Cervejas-->
                <div class="row" id="lanches">
                    <div class="title_item">
                        <h1>Lanches</h1>
                    </div>
                    <div class="col-6" >
                        <div class="lanches">
                            <div class="titulo_prato" >
                                <h1>Lanches</h1>
                            </div>
                            {{#each lanches}}
                            <form action="/addbag/{{id}}" method="get">
                            <div class="item">
                                <div class="imagem">
                                    <img src={{imagem_do_item}} alt="logomarca">
                                </div>
                                <div class="titulo">
                                    <p>{{titulo}}</p>
                                </div>
                                <div class="descricao">
                                    <p>{{descricao}}</p>
                                </div>
                                <div class="valor">
                                    <p>R$ {{valor}}</p>
                                </div>
                                <div class="adicionar">
                                    <button onclick="travarTela()" type="submit">Adicionar na sacola</button>
                                </div>
                            </div>
                            </form>
                            {{/each}}
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="porcoes">
                            <div class="titulo_prato" >
                                <h1>Porções<h1></h1>
                            </div>
                            {{#each porcoes}}
                            <form action="/addbag/{{id}}" method="get">
                            <div class="item">
                                <div class="imagem">
                                    <img src={{imagem_do_item}} alt="logomarca">
                                </div>
                                <div class="titulo">
                                    <p>{{titulo}}</p>
                                </div>
                                <div class="descricao">
                                    <p>{{descricao}}</p>
                                </div>
                                <div class="valor">
                                    <p>R$ {{valor}}</p>
                                </div>
                                <div class="adicionar">
                                    <button onclick="travarTela()" type="submit">Adicionar na sacola</button>
                                </div>
                            </div>
                            </form>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="row" id="bebidas">
                    <div class="title_item" >
                        <h1>Bebidas</h1>
                    </div>
                    <div class="col-6">
                        <div class="refrigerantes">
                            <div class="titulo_prato" >
                                <h1>Refrigerante/Suco</h1>
                            </div>
                            {{#each refrigerantes}}
                            <form action="/addbag/{{id}}" method="get">
                            <div class="item">
                                <div class="imagem">
                                    <img src={{imagem_do_item}} alt="logomarca">
                                </div>
                                <div class="titulo">
                                    <p>{{titulo}}</p>
                                </div>
                                <div class="descricao">
                                    <p>{{descricao}}</p>
                                </div>
                                <div class="valor">
                                    <p>R$ {{valor}}</p>
                                </div>
                                <div class="adicionar">
                                    <button onclick="travarTela()" type="submit">Adicionar na sacola</button>
                                </div>
                            </div>
                            </form>
                            {{/each}}
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="cervejas">
                            <div class="titulo_prato" >
                                <h1>Cervejas<h1></h1>
                            </div>
                            {{#each cervejas}}
                            <form action="/addbag/{{id}}" method="get">
                            <div class="item">
                                <div class="imagem">
                                    <img src={{imagem_do_item}} alt="logomarca">
                                </div>
                                <div class="titulo">
                                    <p>{{titulo}}</p>
                                </div>
                                <div class="descricao">
                                    <p>{{descricao}}</p>
                                </div>
                                <div class="valor">
                                    <p>R$ {{valor}}</p>
                                </div>
                                <div class="adicionar">
                                    <button onclick="travarTela()" type="submit">Adicionar na sacola</button>
                                </div>
                            </div>
                            </form>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Utilizando 4/12 da tela restante para uma coluna que terá um menu de guia e sacola-->
    <div class="col-4">
        <!--Definindo uma divisão para o menu-->
        <div class="menu">
            <!--Definindo o titulo do menu-->
            <div class="titile_menu">
                <h1>Menu</h1>
            </div>
            <!--Criando uma divisão para uma lista de guia-->
            <div class="cardapio">
                <!--Uma lista onde cada item da lista leva a um grupo de items feito
                anteriomente (almoço, doces, lanches e bebidas)-->
                <ul>
                    <li><a href="#almoco">Almoço</a></li>
                    <li><a href="#doces">Doces</a></li>
                    <li><a href="#lanches">Lanches</a></li>
                    <li><a href="#bebidas">Bebidas</a></li>
                </ul>
            </div>
            <!--Sacola em desenvolvimento-->
            <div class="sacola">
                {{#each beg as | beg |}}
                    <p>- {{beg.titulo}} R$ {{beg.valor}}</p>
                {{else}}
                    <p>Aqui ficará os produtos que você adicionar!</p>
                {{/each}}
            </div>
            <form id="cleanbag" action="/cleanbag" method="get"></form>
            <!--Uma divisão para os botões da sacola-->
            <div class="solicitar">
                <!--Botão para pedir os itens da sacola// em desenvolvimento-->
                <button>Pedir</button>
                <!--Botão para limpar os itens da sacola// em desenvolvimento-->
                <button onclick="travarTela()" form="cleanbag" type="submit">Limpar</button>
            </div>
        </div>
    </div>
</div>