<h1 class="display-1 text-center mb-5">Informações</h1>
<div class="container text-start">
    <div class="row">
        <div class="col-6 mb-5">
            <h2 class="display-3 mb-3">Endereço</h2>
            <p class="display-6">R. Quatorze de Dezembro, 57</p>
            <p class="display-7">Centro, Campinas - SP</p>
            <a href="https://goo.gl/maps/ZJm2oXJVg7SLb7dw5" target="_blank">Ver no maps</a><br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d941058.644010301!2d-47.70351938977311!3d-22.87607686740084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c8c8ad76ff4847%3A0x9c26728074283f4e!2sLa%20Playa%20Bar!5e0!3m2!1spt-BR!2sbr!4v1694703238726!5m2!1spt-BR!2sbr" width="300" height="225" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-6 mb-5">
            <h2 class="display-3 mb-5 ">Cronograma</h2>
            <ul class="mb-5">
                {{#each cronograma}}
                <li class="display-6 mb-4">Segunda: {{segunda}}</li>
                <li class="display-6 mb-4">Terça: {{terca}}</li>
                <li class="display-6 mb-4">Quarta: {{quarta}}</li>
                <li class="display-6 mb-4">Quinta: {{quinta}}</li>
                <li class="display-6 mb-4">Sexta: {{sexta}}</li>
                <li class="display-6 mb-4">Sábado: {{sabado}}</li>
                {{/each}}
            </ul>
        </div>

        <!-- Force next columns to break to new line -->
        <div class="w-100"></div>

        <div class="col-6">
            <h2 class="display-3 mb-3">Horário de funcionamento</h2>
            <p class="display-6">Segunda a sábado das 08:00 as 22:00</p>
            <p class="display-6">Domingo e feriados: Fechado</p>
        </div>
        <div class="col-6">
            <img src="/img/257777998_440305677463704_2469486848277217983_n.jpg" width="200px" alt="logomarca">
        </div>
    </div>
</div>