<!--Criando uma divisão geral para o perfil-->
<div class="center">
    <!--Criando uma divisão para ser uma caixa e centraliza-lá na tela-->
    <div class="box">
        <!--Divisão para colocar o titulo na caixa-->
        <div class="perfil">
            <h2>Perfil</h2>
        </div>
        <!--Criando um divisão para as informações do perfil-->
        <div class="perfil_infos">
            <!--Criando agora uma sequencia de inputs e label para servir de visualização das informações do perfil
            e também de formulário para que você possa alterar as inforamações se quiser-->
            <form method="post" action="/alterar-perfil">
                {{#if user}}
                <!--em breve-->
                <!--Criando uma linha para separar a visualizaçaõ das informações em duas colunas-->
                <div class="row">
                    <!--Na primeira coluna o login, o nome e o telefone do usuario-->
                    <div class="col-6">
                        <label for="exampleInputEmail1" class="form-label">Login</label>
                        <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{user.dataValues.email}}">
                        <label for="nome" class="form-label">Nome</label>
                        <input type="text" class="form-control" name="nome" id="nome" value="{{user.dataValues.nome}}">
                        <label for="telefone" class="form-label">Telefone</label>
                        <input type="tel" class="form-control" name="telefone" id="telefone" value="{{user.dataValues.telefone}}">
                    </div>
                    <!--Na segunda coluna um botão para alterar a senha, o CEP e o complemento do usuario-->
                    <div class="col-6">
                        <label for="endereco" class="form-label">Endereço</label>
                        <input type="text" class="form-control" name="endereco" id="endereco" value="{{user.dataValues.endereco}}">
                        <label for="cep" class="form-label">CEP</label>
                        <input type="text" class="form-control" name="cep" id="cep" value="{{user.dataValues.cep}}" required maxlength="9">
                        <label for="complemento" class="form-label">Complemento</label>
                        <input type="text" class="form-control" name="complemento" id="complemento" value="{{user.dataValues.complemento}}">
                    </div>
                </div>
                <!--Botão para salvar as alterações realizadas nas informações do perfil-->
                <button type="submit" class="btn btn-outline-light salvar" >Salvar</button>
                <button  class="btn btn-outline-light passAlterar">Alterar senha</button>
                {{/if}}
            </form>
        </div>
    </div>
</div>